
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Edit Product</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_1_7_1 = $.noConflict(true);
      </script>	
    <!-- Cropper -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.css"
		integrity="sha512-+VDbDxc9zesADd49pfvz7CgsOl2xREI/7gnzcdyA9XjuTxLXrdpuz21VVIqc5HPfZji2CypSbxx1lgD7BgBK5g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700' %}" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/fontawesome.min.css' %}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/bootstrap.min.css' %}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/templatemo-style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/admins/adminshome">
          <h1 class="tm-site-title mb-0">Edit Product</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>
            <!-- </li> -->
            
            <ul class="navbar-nav">

            <li class="nav-item">
              <a class="nav-link active" href="/admins/productlist">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>
            </ul>
            

          <ul class="navbar-nav">
          
          <li class="nav-item">
            <a class="nav-link" href="/admins/categorylist">
                <i class="fas fa-shopping-cart"></i>
                Category
            </a>
        </li>
      </ul>

        <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/cart/orderlist">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="offerlist">
              <i class="fas fa-gift"></i>
              Offers
          </a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" href="couponlist">
              <i class="fas fa-circle"></i>
              Coupons
          </a>
      </li>
    </ul>

        <ul class="navbar-nav">

        <li class="nav-item ">
            <a class="nav-link" href="/cart/saleslist">
                <i class="fas fa-shopping-cart"></i>
                Sales
            </a>
        </li>
      </ul>


        <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="/admins/userlist">
                <i class="far fa-user"></i>
                User
            </a>
        </li>
      </ul>


        </div>
      </div>
    </nav>




    
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Add Product</h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admins/product_update/{{p_details.id}}" method="post" class="tm-edit-product-form"  enctype="multipart/form-data">


                    {%csrf_token%}

                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Product Name
                    </label>
                    <input
                      id="name"
                      value="{{p_details.product_name}}"
                      name="product_name"
                      type="text"
                      class="form-control "
                      
                    />
                  </div>



                  <div class="form-group mb-3">
                    <label
                      for="description"
                      >Description</label
                    >
                    <input
                      class="form-control validate"
                      rows="3"
                      value="{{p_details.des}}"
                      name="des"
                     
                    />
                  </div>




                  <div class="form-group mb-3">
                    <label
                      for="category"
                      >Category</label
                    >
                    <select
                      class="custom-select tm-select-accounts"
                      id="category" name="id"
                    >
                      <!-- <option selected>Select category</option> -->

                      {%for c in category %}
                      <option value="{{c.id}}">{{c.category_name}}</option>  
                      {% endfor %}                    
                    </select>
                  </div>

                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                    <label
                      for="gram"
                      >Gram
                    </label>
                    <input
                      id="gram"
                      value="{{p_details.gram}}"
                      name="gram  "
                      type="text"
                      class="form-control "
                      onekeyup="validateGram()"  
                    />
                    <span id="gram-error" class="m-l-30"></span>

                  </div>




                  <div class="row">
                    <div class="form-group mb-3 col-xs-12 col-sm-6">
                      <label
                        for="stock"
                        >Price
                      </label>
                      <input
                        id="price1"
                        value="{{p_details.price}}"
                        name="price"
                        type="text"
                      class="form-control "

                        onekeyup="validatePrice1()"
                      />
                      <span id="price1-error" class="m-l-30"></span>
                    </div>

                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                          <label
                            for="stock"
                            >Stock
                          </label>
                          <input
                            id="price"
                            value="{{p_details.stock}}"
                            name="stock"
                            type="text"
                      class="form-control "

                            onekeyup="validatePrice()"
                            
                          />
                          <span id="price-error" class="m-l-30"></span>

                        </div>
                  </div>
                  
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">


                          <div class="form-group mt-3">
                            <img src="{{p_details.img.url}}" alt="" id="myimg" style="height:100px ;width:100px ;" >
                            <label for="pimage">Image 1</label>
                            <input type="file" class="form-control" name="image" id="image" accept="image/*" onchange=file_changed()  placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>

                          <div class="form-group mt-3">
                            <img src="{{p_details.img2.url}}" alt="" id="myimg" style="height:100px ;width:100px ;" >
                            <label for="pimage">Image 2</label>
                            <input type="file" class="form-control" name="image2" id="image" accept="image/*" onchange=file_changed2()  placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>


                          <div class="form-group mt-3">
                            <img src="{{p_details.img3.url}}" alt="" id="myimg" style="height:100px ;width:100px ;" >
                            <label for="pimage">Image 3</label>
                            <input type="file" class="form-control" name="image3" id="image" accept="image/*" onchange=file_changed3()  placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>


                          <div class="form-group mt-3">
                            <img src="{{p_details.img4.url}}" alt="" id="myimg" style="height:100px ;width:100px ;" >
                            <label for="pimage">Image 4</label>
                            <input type="file" class="form-control" name="image4" id="image" accept="image/*" onchange=file_changed4()  placeholder="Product Image">
                            <span id="errorimage" class="text-danger">
                          </div>

                        <script>
                          function viewImage1(event){
                            document.getElementById('viewImg1').src=URL.createObjectURL(event.target.files[0])
                          }

                          function viewImage2(event){
                            document.getElementById('viewImg2').src=URL.createObjectURL(event.target.files[0])
                          }
                          function viewImage3(event){
                            document.getElementById('viewImg3').src=URL.createObjectURL(event.target.files[0])
                          }
                          function viewImage4(event){
                            document.getElementById('viewImg4').src=URL.createObjectURL(event.target.files[0])
                          }



                          function file_changed(){
                            var selectedFile = document.getElementById('viewImg1').files[0];
                            var img = document.getElementById('image')
                          
                            var reader = new FileReader();
                            reader.onload = function(){
                               img.src = this.result
                            }
                            reader.readAsDataURL(selectedFile);
                           }

                           function file_changed2(){
                            var selectedFile = document.getElementById('viewImg2').files[0];
                            var img = document.getElementById('image2')
                          
                            var reader = new FileReader();
                            reader.onload = function(){
                               img.src = this.result
                            }
                            reader.readAsDataURL(selectedFile);
                           }

                           function file_changed3(){
                            var selectedFile = document.getElementById('viewImg3').files[0];
                            var img = document.getElementById('image3')
                          
                            var reader = new FileReader();
                            reader.onload = function(){
                               img.src = this.result
                            }
                            reader.readAsDataURL(selectedFile);
                           }
                           
                           function file_changed4(){
                            var selectedFile = document.getElementById('viewImg4').files[0];
                            var img = document.getElementById('image4')
                          
                            var reader = new FileReader();
                            reader.onload = function(){
                               img.src = this.result
                            }
                            reader.readAsDataURL(selectedFile);
                           }







                        </script>

<script>


  var priceError = document.getElementById('price-error');
  var price1Error = document.getElementById('price1-error');
  var gramError = document.getElementById('gram-error');






  function validatePrice() {
    var price=document.getElementById('price').value.trim();  
      if (price.length==0) {
        priceError.innerHTML='Product stock is Required';
        priceError.style.color='red'
        return false;
        }
      if (!/^[0-9]+$/.test(price)) {
            priceError.innerHTML = "stock must be digits"
            priceError.style.color='red'
            return false;
    }
          priceError.innerHTML='stock is valid';
          priceError.style.color='green'
          return true;
    }

    function validatePrice1() {
      var price1=document.getElementById('price1').value.trim();  
        if (price1.length==0) {
          price1Error.innerHTML='Product price is Required';
          price1Error.style.color='red'
          return false;
          }
        if (!/^[0-9]+$/.test(price1)) {
              price1Error.innerHTML = "Product price must be digits"
              price1Error.style.color='red'
              return false;
      }
            price1Error.innerHTML='Price is valid';
            price1Error.style.color='green'
            return true;
      }

      function validateGram() {
        var gram1=document.getElementById('gram').value.trim();  
          if (gram1.length==0) {
            gramError.innerHTML=' Gram is Required';
            gramError.style.color='red'
            return false;
            }
         
              gramError.innerHTML='Gram is valid';
              gramError.style.color='green'
              return true;
        }


        jQuery_1_7_1(document).on("submit", "form", function (e) {
            
          validatePrice()
          validatePrice1()
          validateGram()
          







          
          
         
          if ( validatePrice() && validatePrice1() && validateGram()  ) { 
             
          } else {
            e.preventDefault();
            swal('Invalid data! Ensure You have entered correct data');
            return true;
          }
        });







</script>

                        </div>



                        <div class="col-12">
                          <!-- <a href="" data-toggle="modal" data-target="#exampleModaledit{{p.id}}" > -->
                          <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Product Now</button>
                        </a>
                        </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>






    <script>
      const imagebox1 = document.getElementById("image-box1");
      const crop_btn1 = document.getElementById("crop-btn1");
      const input1 = document.getElementById("image");
  
      // When user uploads the image this event will get triggered
      input1.addEventListener("change", () => {
        // Getting image file object from the input variable
        const img_data1 = input1.files[0];
        // createObjectURL() static method creates a DOMString containing a URL representing the object given in the parameter.
        // The new object URL represents the specified File object or Blob object.
        const url1 = URL.createObjectURL(img_data1);
        // Creating a image tag inside imagebox which will hold the cropping view image(uploaded file) to it using the url created before.
        imagebox1.innerHTML = `<img src="${url1}" id="image1" style="width:100%;">`;
        // Storing that cropping view image in a variable
        const image1 = document.getElementById("image1");
        // Displaying the image box
        document.getElementById("image-box1").style.display = "block";
        // Displaying the Crop buttton
        document.getElementById("crop-btn1").style.display = "block";
        // Hiding the Post button
        document.getElementById("image").style.display = "block";
        const cropper1 = new Cropper(image1, {
          autoCropArea: 1,
          viewMode: 1,
          scalable: false,
          zoomable: false,
          movable: false,
          minCropBoxWidth: 50,
          minCropBoxHeight: 50,
        });
        // When crop button is clicked this event will get triggered
        crop_btn1.addEventListener("click", () => {
          // This method coverts the selected cropped image on the cropper canvas into a blob object
          cropper1.getCroppedCanvas().toBlob((blob) => {
            // Gets the original image data
            let fileInputElement1 = document.getElementById("image");
            // Make a new cropped image file using that blob object, image_data.name will make the new file name same as original image
            let file1 = new File([blob], img_data1.name, {
              type: "image/*",
              lastModified: new Date().getTime(),
            });
            // Create a new container
            let container1 = new DataTransfer();
            // Add the cropped image file to the container
            container1.items.add(file1);
            // Replace the original image file with the new cropped image file
            fileInputElement1.files = container1.files;
            document.getElementById("image").src = URL.createObjectURL(
              fileInputElement1.files[0]
            );
            // Hide the cropper box
            document.getElementById("image-box1").style.display = "none";
            // Hide the crop button
            document.getElementById("crop-btn1").style.display = "none";
  
          });
        });
      });
    </script>


    <script src="{% static 'jsadminpanel/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'jsadminpanel/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
  </body>
</html>
