

{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Add Product - Dashboard HTML Template</title>
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700' %}" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/fontawesome.min.css' %}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/bootstrap.min.css' %}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="{% static 'cssadminpanel/templatemo-style.css' %}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      var jQuery_1_7_1 = $.noConflict(true);
      </script>	
  </head>




  <body>
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/admins/adminshome">
          <h1 class="tm-site-title mb-0">Edit Category</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>
        <ul class="navbar-nav">

          <li class="nav-item">
            <a class="nav-link " href="/admins/productlist">
              <i class="fas fa-shopping-cart"></i> Products
            </a>
          </li>
          </ul>


        <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link active" href="/admins/categorylist">
              <i class="fas fa-shopping-cart"></i>
              Category
          </a>
      </li>
    </ul>

      <ul class="navbar-nav">

      <li class="nav-item">
          <a class="nav-link" href="/cart/orderlist">
              <i class="fas fa-shopping-cart"></i>
              Orders
          </a>
      </li>
    </ul>

      <ul class="navbar-nav">

      <li class="nav-item ">
          <a class="nav-link" href="/cart/saleslist">
              <i class="fas fa-shopping-cart"></i>
              Sales
          </a>
      </li>
    </ul>


      <ul class="navbar-nav">

      <li class="nav-item">
          <a class="nav-link" href="/admins/userlist">
              <i class="far fa-user"></i>
              User
          </a>
      </li>
    </ul>
        </div>
      </div>
    </nav>




    
    <div class="container tm-mt-big tm-mb-big">
      <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
          <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row">
              <div class="col-12">
                <h2 class="tm-block-title d-inline-block">Edit Category </h2>
              </div>
            </div>
            <div class="row tm-edit-product-row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <form action="/admins/category_update/{{category.id}}" method="post" class="tm-edit-product-form" enctype="multipart/form-data">


                    {%csrf_token%}

                  <div class="form-group mb-3">
                    <label
                      for="name"
                      >Category Name
                    </label>
                    <input
                      id="name"
                      value="{{category.category_name}}"
                      name="category_name"
                      type="text"
                      class="form-control "
                      onekeyup="validateLname()"
                    />
                    <span id="lastname-error" class="m-l-30"></span>
                  </div>


                  <div class="form-group mt-3">
              
                    <label for="pimage">Image 1</label>
                    <input type="file" class="form-control" name="image" id="image" accept="image/*" onchange=file_changed()  placeholder="Product Image">
                    
                  </div>

                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-primary btn-block text-uppercase">Edit Category Now</button>
                        </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>

      function viewImage1(event){
        document.getElementById('viewImg1').src=URL.createObjectURL(event.target.files[0])
      }


      function file_changed(){
        var selectedFile = document.getElementById('viewImg1').files[0];
        var img = document.getElementById('image')
      
        var reader = new FileReader();
        reader.onload = function(){
           img.src = this.result
        }
        reader.readAsDataURL(selectedFile);
       }


    </script>

    <script>
      var lastnameError = document.getElementById('lastname-error');

    
    
      function validateLname() {
        var lastname=document.getElementById('name').value.trim();
        var Required=2;
        var left=Required - lastname.length;
        if (lastname.length==0) {
          lastnameError.innerHTML='Category name is required';
          lastnameError.style.color='red'
          return false;
          }
        if (left>0){
        
          lastnameError.innerHTML =left+ 'more character required';
          lastnameError.style.color='red'
          return false;
        
        }
        
        
        lastnameError.innerHTML='Valid';
        lastnameError.style.color='green'
        return true;
        }
    
    

    
    jQuery_1_7_1(document).on("submit", "form", function (e) {
                
     
      validateLname()
      
      if ( validateLname() ) { 
         
      } else {
        e.preventDefault();
        swal('Invalid data! Ensure You have entered correct data');
        return true;
      }
    });
    </script>

    <script src="{% static 'jsadminpanel/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'jsadminpanel/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $("#expire_date").datepicker();
      });
    </script>
  </body>
</html>
