{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Product Page - Admin HTML Template</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/fontawesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/templatemo-style.css' %}">
 

  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="/admins/adminshome">
          <h1 class="tm-site-title mb-0">Offer Details</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">

            <li class="nav-item">
              <a class="nav-link" href="/admins/adminshome">
                  <i class="fas fa-tachometer-alt"></i>
                  Dashboard
              </a>
          </li>


            <li class="nav-item">
              <a class="nav-link " href="/admins/productlist">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="/admins/categorylist">
                  <i class="fas fa-shopping-cart"></i>
                  Category
              </a>
          </li>

          <li class="nav-item">
            <a class="nav-link " href="/cart/orderlist">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </a>
        </li>
        
          <li class="nav-item">
            <a class="nav-link active" href="offerlist">
                <i class="fas fa-gift"></i>
                Offers
            </a>
        </li>
     
     
        <li class="nav-item">
            <a class="nav-link" href="couponlist">
                <i class="fas fa-circle"></i>
                Coupons
            </a>
        </li>
     

        <li class="nav-item">
          <a class="nav-link" href="/cart/saleslist">
              <i class="fas fa-shopping-cart"></i>
              Sales
          </a>
      </li>
          

            <li class="nav-item">
              <a class="nav-link" href="/admins/userlist">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
          </ul>

        </div>
      </div>
    </nav>




<div class="conatiner">
<div class="row mt-5">
<div class="col ">

    <div class="card-header d-flex">
        <div style = "width:95%;">
        <h3 style="color: white;">Product Offer Management</h3>
        </div>
        <div style>
        <a class="btn-outline-warning btn btn-sm" href ="p_offeradd">Add</a>
        </div>
    </div>


    <table class="table table-hover"> 
                    
        <thead>
          <tr>
            <th scope="col">PRODUCT</th>
            <th scope="col">START DATE</th>
            <th scope="col">END DATE</th>
            <th scope="col">OFFER</th>
            <th scope="col">BLOCK</th>
            <th scope="col" >DELETE</th>

          </tr>
        </thead>
        <tbody>
            {% for p in p_offer %}
          <tr>
            
            <td>{{p.product.product_name}}</td>
            <td>{{p.start_date}}</td>
            <td>{{p.end_date}}</td>
            <td>{{p.offer}} %</td>
           <td>

            {%if p.is_active %}  

            <!-- <a href="block_p_offer/{{p.id}}" data-toggle="modal" data-target="#exampleModalbpf{{p.id}}" > -->
                <button style="font-size:13px ;" type="button" class="btn btn-warning"data-toggle="modal" data-target="#exampleModalbpf{{p.id}}">Block</button>
              <!-- </a> -->

          {%else%}

          <!-- <a href="unblock_p_offer/{{p.id}}" data-toggle="modal" data-target="#exampleModalubpf{{p.id}}" > -->
            <button style="font-size:13px ;" type="button" class="btn btn-warning"  data-toggle="modal" data-target="#exampleModalubpf{{p.id}}">UnBlock</button>
          <!-- </a> -->
          {% endif %}
           </td>
           <td>

          <button  type="button" class="btn btn-outline-warning ml-3" data-toggle="modal" data-target="#modaldelete{{p.id}}">Delete</button>

           </td>

          </tr>

          <div class="modal fade" id="exampleModalbpf{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Block Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to block ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="block_p_offer/{{p.id}}">
                  <button type="button" class="btn btn-primary">Block</button>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="exampleModalubpf{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Unblock Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to Unblock ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="unblock_p_offer/{{p.id}}">
                  <button type="button" class="btn btn-primary">UnBlock</button>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="modaldelete{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to Delete ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="product_offer_remove/{{p.id}}">
                  <button type="button" class="btn btn-primary">Delete</button>
                  </a>
                </div>
              </div>
            </div>
          </div>


          {%endfor%}
          
         
        </tbody>
      </table>
</div>

<div class="col  ">


    <div class="card-header d-flex">
        <div style = "width:95%;">
        <h3 style="color: white;">Category Offer Management</h3>
        </div>
        <div style>
        <a class="btn-outline-warning btn btn-sm" href ="c_offeradd">Add</a>
        </div>
    </div>

    <table class="table table-hover"> 
                    
        <thead>
          <tr>
            <th scope="col">CATEGORY</th>
            <th scope="col">START DATE</th>
            <th scope="col">END DATE</th>
            <th scope="col">OFFER</th>
            <th scope="col">UPTO</th>
            <th scope="col">BLOCK</th>
            <th scope="col">DELETE</th>


          </tr>
        </thead>
        <tbody>
          {% for c in c_offer%}
          <tr>
            
            <td>{{c.category.category_name}}</td>
            <td>{{c.start_date}}</td>
            <td>{{c.end_date}}</td>
            <td>{{c.offer}} %</td>
            <td>₹{{c.up_to}}</td>
            <td>

                {%if c.is_active %}  
    
                <!-- <a href="block_c_offer/{{c.id}}" data-toggle="modal" data-target="#exampleModalbcf{{c.id}}" > -->
                    <button style="font-size:13px ;" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalbcf{{c.id}}">Block</button>
                  <!-- </a> -->
    
              {%else%}
    
              <!-- <a href="unblock_c_offer/{{c.id}}" data-toggle="modal" data-target="#exampleModalubcf{{c.id}}" > -->
                <button style="font-size:13px ;" type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalubcf{{c.id}}">UnBlock</button>
              <!-- </a> -->
              {% endif %}
               </td>

               <td>

                <button  type="button" class="btn btn-outline-warning ml-3" data-toggle="modal" data-target="#modalcatdelete{{c.id}}">Delete</button>
      
                </td>


           
          </tr>
          <div class="modal fade" id="exampleModalbcf{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Block Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to block ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="block_c_offer/{{c.id}}">
                  <button type="button" class="btn btn-primary">Block</button>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="exampleModalubcf{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Unblock Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to Unblock ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="unblock_c_offer/{{c.id}}">
                  <button type="button" class="btn btn-primary">UnBlock</button>
                  </a>
                </div>
              </div>
            </div>
          </div>


          <div class="modal fade" id="modalcatdelete{{c.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Delete Offer</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                Are you want to Delete ?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <a href="cat_offer_remove/{{p.id}}">
                  <button type="button" class="btn btn-primary">Delete</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
          {%endfor%}
          
         
        </tbody>
      </table>
</div>
</div>
</div>



</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
