

{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Panel</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    

    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700' %}" />
    <link rel="stylesheet" href="{% static 'cssadminpanel/fontawesome.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cssadminpanel/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'cssadminpanel/templatemo-style.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>


    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css" />
  
 



  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="adminshome">
          <h1 class="tm-site-title mb-0">Product Details</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">

            <li class="nav-item">
              <a class="nav-link" href="adminshome">
                  <i class="fas fa-tachometer-alt"></i>
                  Dashboard
              </a>
          </li>


            <li class="nav-item">
              <a class="nav-link active" href="productlist">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="categorylist">
                  <i class="fas fa-shopping-cart"></i>
                  Category
              </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cart/orderlist">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="offerlist">
              <i class="fas fa-gift"></i>
              Offers
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="couponlist">
              <i class="fas fa-circle"></i>
              Coupons
          </a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart/saleslist">
              <i class="fas fa-shopping-cart"></i>
              Sales
          </a>
      </li>

            <li class="nav-item">
              <a class="nav-link" href="userlist">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
<div class="mt-3 ml-3">
  <a href="addproduct1"   class="btn btn-primary mb-3">Add new product</a>


</div>
  

        <table class="table table-striped " id="myTable">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>image</th>
                    <th>Gram</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Stock</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>

                </tr>
            </thead>
            <tbody>
                {% for p in p_details %}
                <tr>
                  <td >{{p.product_name}}</td>
                  <td>{{p.des}}</td>
                  <td><img src="{{p.img.url}}" style="width: 50px; height:50px;"></td>
                  <td>{{p.gram}}</td>
                  <td>₹{{p.price}}</td>
                  <td>{{p.category}}</td>
                  <td>{{p.stock}}</td>


                  <td>
                    <a href="product_edit/{{p.id}}" >
                      <button style="font-size:13px ;" type="button" class="btn btn-warning">Edit</button>
                    </a>
                  </td> 

                  <td>
                    <a onclick=deleteProduct(event) href="product_delete/{{p.id}}" class="tm-product-delete-link" >
                      <i class="far fa-trash-alt tm-product-delete-icon" ></i>  
                    </a>
                  </td>


                </tr>
                
                {%endfor%}


            </tbody>
        </table>


        <script>
          function deleteProduct(event){
            event.preventDefault();
            var link = event.currentTarget.href;
            swal({
              title: "Are you sure?",
              text: "Once removed, you will not be able to recover this Item!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                swal("Product has been removed!", {
                  icon: "success",
                }).then(()=>{
                  window.location=link;
                });
              } else {
               /* swal("Your imaginary file is safe!");*/
              }
            });
          }
        </script>


        <script>
            $(document).ready(function () {
                $('#myTable').DataTable();
            });
        </script>

    
        {% for message in messages %}
        <script>
            swal('{{message}}')
        </script>
        {% endfor %}



        <script href="{%static 'jsadminpanel/jquery-3.3.1.min.js' %}"></script>
        <script href="{%static 'jsadminpanel/moment.min.js' %}"></script>
        <script href="{%static 'jsadminpanel/bootstrap.min.js' %}"></script>
        <script href="{%static 'jsadminpanel/tooplate-scripts.js' %}"></script>

</body>

</html>