

{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{% static 'https://fonts.googleapis.com/css?family=Roboto:400,700' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/fontawesome.min.css' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/bootstrap.min.css' %}" />

    <link rel="stylesheet" href="{% static 'cssadminpanel/templatemo-style.css' %}">
 



  </head>

  <body id="reportsPage">
    <nav class="navbar navbar-expand-xl">
      <div class="container h-100">
        <a class="navbar-brand" href="adminshome">
          <h1 class="tm-site-title mb-0">Product Details</h1>
        </a>
        <button
          class="navbar-toggler ml-auto mr-0"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars tm-nav-icon"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto h-100">

            <li class="nav-item">
              <a class="nav-link" href="adminshome">
                  <i class="fas fa-tachometer-alt"></i>
                  Dashboard
              </a>
          </li>


            <li class="nav-item">
              <a class="nav-link active" href="productlist">
                <i class="fas fa-shopping-cart"></i> Products
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="categorylist">
                  <i class="fas fa-shopping-cart"></i>
                  Category
              </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/cart/orderlist">
                <i class="fas fa-shopping-cart"></i>
                Orders
            </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="offerlist">
              <i class="fas fa-gift"></i>
              Offers
          </a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="couponlist">
              <i class="fas fa-circle"></i>
              Coupons
          </a>
      </li>

        <li class="nav-item">
          <a class="nav-link" href="/cart/saleslist">
              <i class="fas fa-shopping-cart"></i>
              Sales
          </a>
      </li>

            <li class="nav-item">
              <a class="nav-link" href="userlist">
                <i class="far fa-user"></i> Accounts
              </a>
            </li>
          </ul>
          <!-- <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link d-block" href="admin_logout" >
                <b>Logout</b>
              </a>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>

    <a
    href="addproduct1" 
    class="btn btn-primary  mb-3">Add new product</a>
</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Product Name</th>
          <th scope="col">Description</th>
          <th scope="col">image</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
          <th scope="col">Stock</th>
          <th scope="col">Edit </th>
          <th scope="col">Delete</th>


        </tr>
      </thead>
      <tbody>
    {% for p in p_details %}
        <tr>
          <td >{{p.product_name}}</td>
          <td>{{p.des}}</td>
          <td><img src="{{p.img.url}}" style="width: 50px; height:50px;"></td>
          <td>₹{{p.price}}</td>
          <td>{{p.category}}</td>
          <td>{{p.stock}}</td>

          <td>
            <a href="product_edit/{{p.id}}" >
              <button style="font-size:13px ;" type="button" class="btn btn-light">Edit</button>
            </a>
          </td> 




          <td>
            <a href="product_delete/{{p.id}}" class="tm-product-delete-link" data-toggle="modal" data-target="#exampleModal{{p.id}}">
              <i class="far fa-trash-alt tm-product-delete-icon"></i>  
            </a>
          </td> 
        </tr>
        <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              Are you want to delete <span style="font-weight: bold ;">{{p.product_name}} </span>?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a href="product_delete/{{p.id}}">
                <button type="button" class="btn btn-primary">Delete</button>
                </a>
              </div>
            </div>
          </div>
        </div>


      {% endfor %}
      </tbody>
    </table>
  </div>
  



<!-- 
    <div class="container mt-5">
      <div class="row tm-content-row">

        
        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 tm-block-col">
          <div class="tm-bg-primary-dark tm-block tm-block-products">
            <div class="tm-product-table-container">
              <table class="table table-hover tm-table-small tm-product-table">
                <thead>
                  <tr>

                    <th scope="col">Product Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">image</th>
                    <th scope="col">Price</th>
   
                    <th scope="col">Category</th>
                    <th scope="col">Stock</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>
                    <th scope="col">&nbsp;</th>

                  </tr>
                </thead>
                <tbody>
                  {% for p in p_details %}
                   <tr>

                      <td >{{p.product_name}}</td>
                      <td>{{p.des}}</td>
                      <td><img src="{{p.img.url}}" style="width: 50px; height:50px;"></td>
                      <td>₹{{p.price}}</td>
                      <td>{{p.category}}</td>
                      <td>{{p.stock}}</td>


                      <td>
                        <a href="product_edit/{{p.id}}" >
                          <button style="font-size:13px ;" type="button" class="btn btn-light">Edit</button>
                        </a>
                      </td> 




                      <td>
                        <a href="product_delete/{{p.id}}" class="tm-product-delete-link" data-toggle="modal" data-target="#exampleModal{{p.id}}">
                          <i class="far fa-trash-alt tm-product-delete-icon"></i>  
                        </a>
                      </td> 

 

                   </tr>
                   <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                        Are you want to delete <span style="font-weight: bold ;">{{p.product_name}} </span>?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <a href="product_delete/{{p.id}}">
                          <button type="button" class="btn btn-primary">Delete</button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                   {% endfor %}
                  

                </tbody>
              </table>
            </div>
  
            <a
              href="addproduct1" 
              class="btn btn-primary btn-block text-uppercase mb-3">Add new product</a>
          </div>
        </div>
      </div>
    </div> -->



    <div class="modal fade" id="exampleModal{{p.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <script src="{% static 'jsadminpanel/jquery-3.3.1.min.js' %}"></script>
    <!-- https://jquery.com/download/ -->
    <script src="{% static 'jsadminpanel/bootstrap.min.js' %}"></script>
    <!-- https://getbootstrap.com/ -->
    <script>
      $(function() {
        $(".tm-product-name").on("click", function() {
          window.location.href = "edit-product.html";
        });
      });
    </script>
  </body>
</html>